.selectize-control.single .selectize-input::after {
    content: none !important;
}

.selectize-input {
    word-wrap: break-word; word-break: break-word;
}

.selectize-dropdown {
    word-wrap: break-word;
}

#marker_table, #go_table, #deg_table {
    scrollbar-color: #dce2fe #fcfcff !important; scrollbar-width: thin !important;
}

#marker_table .dataTables_scrollBody, #go_table .dataTables_scrollBody, #deg_table .dataTables_scrollBody {
    overflow-x: hidden !important; min-height: 23.3vh !important;
}

#dataset_select {
    overflow-y: auto; height: 40vh; min-height: 40vh; scrollbar-color: #dce2fe #fcfcff !important; scrollbar-width: thin !important;
}

.dt-left.sorting {
    padding-top: 0vh !important; padding-bottom: 0.5vh !important;
}

#gene_box .shiny-spinner-output-container {
    position: static !important;
}

#control_bar .irs {
    margin-left: 10px;
}

#control_bar .form-group {
    margin-bottom: 0.5rem !important;
}

#sets_div_desc {
    height: 24vh; min-height: 24vh; max-height: 24vh; overflow-y: auto; overflow-x: hidden; width: 100%; margin-top: 15px; margin-bottom: 15px; scrollbar-color: #dce2fe #fcfcff !important; scrollbar-width: thin !important;
}

#sets_div_totals {
    height: 8vh; min-height: 8vh; max-height: 8vh; width: 100%; margin-bottom: 25px;
}

#controls {
    position: fixed; width: 23.5%;
}

.irs-single, .irs-bar, .irs-from, .irs-to {
    background: #96a8fc !important;
}

.sF-dirList div.selected > .sF-file-name > div {
    background: #96a8fc !important;
}

#flex_div, #controls {
    padding-top: 2px;
}

#plot_flex > * {
    min-width: 0%; min-height: 0%;
}

#plot_flex .card-body {
    padding-top: 15px; padding-bottom: 15px; position: relative;
}

.noUi-connects {
    display: none !important;
}

.noUi-vertical .noUi-tooltip {
    right: 140% !important; padding: 3px !important;
}

.noUi-vertical {
    width: 10px !important;
}

.noUi-vertical .noUi-handle {
    width: 22px !important; height: 3px !important; bottom: -1px !important;
}

.noUi-handle::before, .noUi-handle::after {
    display: none !important;
}

.bg-teal .card-header .btn-tool {
    color: #c7c7c7 !important;
}

.tabbable .nav {
    justify-content: center !important;
}

.card-title .form-group {
    margin-bottom: 12px;
}

.sw-dropdown .tabbable .nav-link {
    padding: .35rem 1rem !important; font-size: 1.0rem !important;
}

.sw-dropdown .tabbable .tab-content {
    margin-top: 12px;
}

.sw-dropdown .btn-group{
    width: 300px;
}

#gene_box .tabbable .nav-link {
    padding: .2rem 0.85rem !important; font-size: 1.0rem !important;
}

#gene_box .tabbable .tab-content {
    margin-top: 6px;
}

.drop-menu-input .radiobtn {
    font-size: 0.7rem !important;
}

.drop-menu-input .shiny-input-radiogroup{
    margin-top: -15px;
}

#markers_none, #deg_none, #go_none, #go_species {
    margin-top: 25%;
}

#markers_new {
    margin-top: 20%;
}

#deg_new {
    margin-top: 10%;
}

#markers_none, #markers_new, #deg_none, #deg_show, #deg_new, #go_show, #go_none, #go_species, #go_controls {
    display: none;
}

#data_avail, #data_new, #data_save, #session_save, #data_export {
    display: none;
}

#marker_table, #marker_controls {
    visibility: hidden;
}

.js-plotly-plot .plotly .vertical [data-title]::before, .js-plotly-plot .plotly .vertical [data-title]::after {
    right: auto !important; left: 120% !important;
}

.modebar-container {
    right: auto !important; left: 25px !important; top: 5px !important
}

#cell_box > .card-header {
    display: none;
}

#cell_box > .card-body {
    padding: 12px;
}

#anno_select .vscomp-options-container, #cluster_select .vscomp-options-container, #anno_select .vscomp-no-options, #cluster_select .vscomp-no-options{
    height: 16.5vh !important; max-height: 16.5vh !important;
}

.vscomp-toggle-button {
    height: 4.5vh;
}

.vscomp-wrapper {
    font-size: 13px !important; font-family: unset !important;
}

.modal-body .btn-default.action-button {
    height: 5.2vh;
}

.btn-default.action-button, .btn-default.shiny-download-link {
    height: 2.0vw;
}

.btn-default.action-button .fas {
    display: block !important; margin: auto;
}

#open_search,#new_plot,#settings,#get_sets,#label_transfer{
    width:3.5vw !important; height: 3.5vw !important; padding: -0.1vh;
}

.btn {
    font-size: 1vw !important;
}

.btn-circle {
    font-size: 1.3vw !important;
}

.shiny-tab-input .nav-link{
    height: 4.2vh;
}

#gene_box > .card-header {
    display: none;
}

#gene_box > .card-body {
    padding: 12px;
}

.sF-modalContainer {
    opacity: 1 !important;
}

.sF-modal .modal-header {
    margin-top: 10px;
}

#import_ref-modal .modal-content {
    margin-top: 5% !important;
}

.sF-modal .modal-content {
    margin-top: 10% !important;
}

.modal-content {
    margin-top: 25% !important;
}

.modal-sm .selectize-dropdown-content {
    max-height: 102px !important;
}

.selectize-dropdown .selected {
    background-color: #96a8fc !important; 
}

.shiny-notification-message {
    color: black !important; background-color: #dce2fe !important; border: #dce2fe;
}

#gene_box .control-label {
    display: none;
}

#sets {
    height: 26vh; overflow-y: auto; overflow-x: hidden; width: 100%; margin-top: 15px; margin-bottom: 15px; scrollbar-color: #dce2fe #fcfcff !important; scrollbar-width: thin !important;
}

#sets > :last-child {
    margin-bottom: 60px;
}

#sets .form-control {
    font-size: 13px !important;
}

#sets .selectize-dropdown {
    scrollbar-color: #dce2fe #fcfcff !important; scrollbar-width: thin !important;
}

#sets .selectize-dropdown-content {
    max-height: 17.5vh !important;
}

#sets .shiny-split-layout {
    margin-bottom: -5px;
}

#sets .shiny-split-layout .form-control {
    height: 32px !important;
}

#fc_filter, #fc_filter_deg, #go_toggle {
    position: relative; bottom: 15px;
}

.shiny-input-radiogroup {
    padding-bottom: 1vh;
}

.radio-group-buttons .btn {
    line-height: 6px; height: 2.0vw; background-color: #fcfcff; 
}

.radio-group-buttons .btn.active {
    line-height: 6px; height: 2.0vw; background-color: #96a8fc; color: #fff;
}

#plot_controls > .card-header {
    display: none;
}

.main-header {
    max-height: 45px;
}

.wrapper > .content-wrapper > .content {
    padding-right: 8px !important; padding-left: 8px !important;
}

#shiny-tab-Explorer > .row > .col-sm-9 {
    padding-left: 3px !important;
}

.nav-item.dropdown::marker {
    display: none;
}

#anno_select-label {
    display: none;
}

#cluster_select-label {
    display: none;
}

#cell_box .form-group.shiny-input-container {
    margin-bottom: 0px;
}

#anno_select {
    margin-top: 12px;
}

#cluster_select {
    margin-top: 12px;
}

#gene_box > .card-body {
    padding-top: 10px; padding-bottom: 10px;
}

.content-wrapper {
    background-image: linear-gradient(to bottom right,#738bfb, #b9c5fd) !important; margin-top: 45px !important;
}

#controlbar-toggle {
    display: none;
}

#controlbarPin {
    display: none;
}

.toast {
    visibility: hidden;
}

#search_div_inner {
    width: 85%; margin: 0 auto;
}

#sets_div_copy {
    width: 50%; margin: 0 auto;
}

.control-sidebar-content .material-switch {
    margin-top: -5px;
}

#anno_select {
    scrollbar-color: #dce2fe #fcfcff !important; scrollbar-width: thin !important;
}

#cluster_select {
    scrollbar-color: #dce2fe #fcfcff !important; scrollbar-width: thin !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #dce2fe !important;
}

::-webkit-scrollbar-track {
    background: #fcfcff !important;
}

#dataset_select {
    padding-right: 20px; padding-left: 20px;
}

